<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Ways of Calling methods and properties</display-name>
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
  <!-- CAPTCHA SERVLET -->
  <servlet>
		<servlet-name>Captcha</servlet-name>
		<servlet-class>servlets.MyCaptcha</servlet-class>
		<init-param>
			<description>passing height</description>
			<param-name>height</param-name>
			<param-value>30</param-value>
		</init-param>
		<init-param>
			<description>passing height</description>
			<param-name>width</param-name>
			<param-value>120</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Captcha</servlet-name>
		<url-pattern>/Captcha.jpg</url-pattern>
	</servlet-mapping>
	
  <!-- THIS IS HOW TO ADD A CUSTOM ERROR PAGE -->
  <error-page>
    <error-code>404</error-code>
    <location>/404.xhtml</location>
  </error-page>  
  
  
</web-app>