* {
	margin: 0;
	padding: 0;
}

body,div,span,p,a,img,ul,ol,li,table,th,tr,td,fieldset,legend,dl,dt,dd,blockquote,applet,object
	{
	border: 0;
}

body {
	padding: 0;
	background: #fff url("#{resource['images:bg.jpg']}") repeat-x;
	font: 0.8em/1.5 "arial", sans-serif;
	color: #303030;
	text-align: center;
}

a {
	color: #93b21a;
}

a:link {
	color: #93b21a;
}

a:hover {
	color: #93b21a;
	text-decoration: none;
}

#layout {
	width: 920px;
	margin: 0 auto;
	text-align: left;
}

#header {
	height: 120px;
	padding-top: 20px;
}

#logo1 {
	display: block;
	width: 300px;
	float: right;
	font-size: 350%;
	text-decoration: none;	
}

#logo1 a {
	text-decoration: none;;
}

#logo1 span {
	color: #cfe444;
}

#first a {
	border: none !important;
}

#main-box {
	color: #fff;
	font-size: 24px;
	background: #93b21a url("#{resource['images:main-top.jpg']}") repeat-x;
	;
}

#quote {
	padding: 15px;
	background: url("#{resource['images:main-corner.jpg']}") no-repeat right
		bottom;
}

#main {
	padding: 0 10px 0 10px
}

#footer {
	padding: 10px 0 10px 0px;	
	color: #aaaaaa;	
	border-top: 1px solid #aaaaaa;
	margin-top: 20px;
}

hr{
	color: #cfe444;
}

#footer p {
	margin-top: 0;
	margin-bottom: 0;
}

#copyright {
	float: left;
	width: 300px;
}

#dont-delete-this {
	margin: 0 0 0 323px;
	text-align: right;
}

.thumbnail {
	float: left;
	margin: 0 13px 20px 0px;
}

a img {
	border: 0px solid #dadada;
	padding-right: 2px;
}

a:hover img {
	border: 0px solid #bbbbbb;
}

strong,.strong {
	font-weight: bold;
}

.uploadbutton {
	background: url("#{resource['images:upload1.png']}") no-repeat;
	width: 72px;
	height: 72px;
	overflow: visible;
	cursor: pointer;
	border: 0;
	}

.uploadbutton:hover {
	background: url("#{resource['images:upload2.png']}") no-repeat;
	width: 72px;
	height: 72px;
	overflow: visible;
	cursor: pointer;
	border: 0;
	}

.randombutton {
	background: url("#{resource['images:mainbtn1.png']}") no-repeat;
	width: 410px;
	height: 400px;
	overflow: visible;
	cursor: pointer;
	border: 0;
}

.randombutton:hover {
	background: url("#{resource['images:mainbtn2.png']}") no-repeat;	
}
	
.mainContainer {
	margin-left: auto;
	margin-right: auto;
	width: 920px;
}

.leftContainer {
	float: left;
	width: 400px;
	height: 500px;
	margin-right: 20px;
}

.rightContainer {
	float: right;
	font-size: 20px;
	color: #93B21A;
	width: 500px;
	height: 370px;
	margin-top: 100px;
	text-align: justify;
}

.lowercontainer{
	margin-left: auto;
	margin-right: auto;
	}

.captchaContainer {		
	width:900px;	
	height: 200px;
	padding-top: 50px;
	font-size: 16px;
	color: #93B21A;
	font-weight: bold;
}


.warningText {
	text-align: center;
	font-size: 9px;
}

.inputText {
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	-khtml-border-radius: 10px; /* KHTML */
	border-radius: 10px; /* CSS3 */
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 20px;
	font-weight: bold;
	color: #93B21A;
}


#RightColumn {
	background-color: White;
}

#langbar {
	position: relative;
	float: right;
	display: block;
	margin-bottom: 10px;
}

.newlink{
	color:#93b21a;
	text-decoration: none;	
	padding-left: 70px;
	font-size: 28px;	
	}
	
.newlink:hover{
	text-decoration: none;
	color: #cfe444;
	}
	
.inputurlfield{
	background-color: #cfe444;
	color: #93b21a;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: #666 1px 1px 2px;
	-moz-box-shadow: #666 1px 1px 2px;	
	box-shadow: #666 1px 1px 2px;
	background: #EEFF99;
	font-weight: bold;
	margin-left: 10px;
	padding: 2px;
	border-color: #cfe444;
	}

.gobacklink{
	color:#93b21a;
	text-decoration: none;	
	padding-left: 10px;
	font-size: 18px;	
	font-weight: bold;
	}
	
.gobacklink:hover{
	text-decoration: none;
	color: #cfe444;
	}	

#captchapanelleft {
	display:block;
	float: left;
	width: 400px;
	height: 200px;
	}
	
#captchapanelright {
	display:block;
	float: left;
	width: 100px;
	height: 200px;
	}
	